<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{{ url_for('static', path='/login.css') }}" rel="stylesheet">
</head>
<body>
    <form action="/Login" method="post">
        <div class="form-right">
            <div class="form-right-inner">
                <img class="formlogo" src="{{ url_for('static', path='/assets/logo.png') }}" alt="" srcset="">
                <div class="mid">
                    Manager Id
                    <input type="text" name="managerid">
                </div>
                <input type="submit" value="LOGIN">
            </div>
        </div>
    </form>  
</body>
</html>