<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link href="{{ url_for('static', path='/team.css') }}" rel="stylesheet">
</head>
<body>
    <div class="navbar">

    </div>
    <div class="stats">

    </div>
    <div class="squad">
        <div class="team">
            <div class="team-stats">
                <form class="gw-select" action="/team">
                    <select title="Gameweek" name="GW" id="gw">
                        {% for i in range(1, 38) %}
                            <option class="GW" value="GW{{ i }}">Gameweek {{ i }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Submit">
                  </form>
            </div>
            <div class="line"></div>
            <div class="players">
                
            </div>
        </div>
        
    </div>
</body>
</html>